[submodule "lib/include/libuv"]
	path = lib/include/libuv
	url = https://github.com/libuv/libuv.git
[submodule "lib/include/picohttpparser"]
	path = lib/include/picohttpparser
	url = https://github.com/h2o/picohttpparser
